$admin-color-blue: #244d9d !default
$admin-color-blue-rgba-50: rgba($admin-color-blue, 0.5) !default
$admin-color-gray-dark: #7c7c7c !default
$admin-color-gray-light: #F8F8F8 !default
$admin-color-orange: #F5B016 !default

body
  background-color: $admin-color-gray-light !important

#wpwrap
  top: 40px !important

#adminmenuwrap, #adminmenuback
  background-color: $admin-color-gray-light !important

#wpcontent
  padding-left: 0 !important

#wpadminbar
  background-color: $admin-color-gray-light !important
  padding: 20px 0 !important
  height: 70px !important

  #wp-admin-bar-view, #wp-admin-bar-new_draft
    // display: none

  #wp-admin-bar-my-account
    a
      &:before
        font-size: 50px !important
        top: -14px
        margin-left: 20px

  li
    padding: 0 4px !important
    &#wp-admin-bar-my-account
      &:hover
        background-color: white !important
      .ab-sub-wrapper
        background-color: white !important

    &#wp-admin-bar-wp-logo
      pointer-events: none
      &>.ab-item .ab-icon:before
        content: ''
        background-image: url("https://cdn.slidevision.io/www/logo.png")
        position: absolute
        background-size: 130px
        width: 200px
        height: 200px
        margin-left: 5px
        background-repeat: no-repeat
        left: 0
        top: 3px

    &#wp-admin-bar-site-name
      // pointer-events: none
      margin-left: 136px

    &#wp-admin-bar-comments, &#wp-admin-bar-new-content
      display: none

#wpadminbar a:hover
  background-color: white

#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus
  background-color: white

#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input
  background-color: white

#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon
  color: $admin-color-blue !important

.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before
  color: $admin-color-blue

.plugin-update-tr.active td, .plugins .active th.check-column
  border-left: 4px solid $admin-color-blue

#epanel-header, h1#epanel-title, #epanel-mainmenu
  background-color: white !important
  color: $admin-color-blue !important

#epanel-mainmenu a
  border: 1px solid white !important
  &:hover
    background-color: white !important
    border: 1px solid $admin-color-blue !important

#epanel-mainmenu li.ui-state-active a
  background-color: white !important

#epanel-mainmenu li.ui-state-active
  background-color: white !important
  border: 1px solid $admin-color-blue

#epanel-header .et-defaults-button
  background-color: white !important

.et-pb-modal-bottom-container
  background: white !important

.wp-core-ui .button-primary
  margin: 0 !important

body
  #adminmenu a
    color: $admin-color-blue !important

#adminmenu li.menu-top:hover a, #adminmenu li.opensub > a.menu-top a, #adminmenu li > a.menu-top:focus .wp-menu-name a
  color: white !important

.et_pb_roles_title
  background-color: white !important
  color: $admin-color-blue !important

body .et_pb_roles_active_menu, body .et_pb_roles_main_container #et_pb_layout_controls .et_pb_roles_active_menu
  background-color: white !important
  border: 1px solid $admin-color-blue !important

body .et_pb_roles_active_menu:hover, #et_pb_layout_controls .et-pb-layout-buttons
  background-color: white !important

#et_pb_layout_controls
  background-color: white !important

body #et_pb_layout_controls .et-pb-layout-buttons
  border: 1px solid white !important
  &:hover
    background-color: white !important
    border: 1px solid $admin-color-blue !important

.widefat td, .widefat th
  color: $admin-color-orange !important

  li
    &#wp-admin-bar-wp-logo
      // display: none

  a
    color: $admin-color-gray-dark !important
    &:hover
      background-color: white !important

  .ab-label, .ab-item:before, .ab-icon:before
    color: $admin-color-gray-dark !important

#adminmenu
  background-color: $admin-color-gray-light !important

  .collapse-button-label
    &:hover
      color: $admin-color-blue

  .wp-submenu
    background-color: $admin-color-blue !important
    // left: 200px

    li
      a
        color: white !important
        // left: 200px !important


  li
    &.menu-top:hover, &.opensub>a.menu-top, &>a.menu-top:focus
      background-color: $admin-color-blue !important
      color: white !important

    a
      &.current
        background-color: $admin-color-blue !important
        color: white !important

        .wp-menu-image
          &:before
            color: white !important

    &.wp-has-current-submenu
      color: white !important

      .wp-menu-image
        &:before
          color: white !important

      .wp-submenu
        background-color: $admin-color-blue !important

        a
          color: white !important

  a
    color: $admin-color-gray-dark !important

    &.wp-has-current-submenu
      color: white !important
      background-color: $admin-color-blue-rgba-50 !important
      font-weight: bold !important

  .wp-menu-image
    &:before
      color: $admin-color-blue !important

#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after
  display: none !important

#adminmenu .wp-submenu li
  border: 1px solid $admin-color-blue

#adminmenu .wp-submenu li a:hover
  color: white !important

#adminmenu li:hover .wp-menu-image:before
  color: white !important

#adminmenu .wp-submenu li:hover
  background-color: rgba(white,0.2)

#adminmenu li a.current
  background-color: rgba(white,0.3) !important
  &:hover
    color: white !important

#wpbody
  background-color: white !important
  padding-left: 30px !important
  padding-top: 12px !important
  box-shadow: inset 0 0 10px rgba(0,0,0,.15)

  #wpbody-content
    .wrap
      margin: 10px 30px 0 0px

  #screen-meta-links
    // display: none

  #dashboard-widgets-wrap
    .postbox-container
      // width: 80% !important

    .postbox
      border: 0
      box-shadow: none !important

      .inside
        +headlines
          color: $admin-color-blue !important

    .wrap
      border: 1px solid white !important


  #post-body-content
    .et-pb-app-settings-button, .et-pb-app-portability-button, .handlediv
      // display: none

    .toggle-indicator
      &:before
        color: $admin-color-blue !important

    .hndle
      display: none
      box-shadow: none
      &:before
        display: none
      span
        display: none

  #et_pb_layout

    &.postbox
      +headlines
        color: $admin-color-blue !important
        background-color: white !important

      #et_pb_main_container_right_click_overlay
        box-shadow: none

      #et_pb_layout_controls
        background-color: white !important
        a
          &.et-pb-layout-buttons
            font-size: 12px !important
            color: $admin-color-gray-dark !important
            background-color: white !important

        .et-pb-layout-buttons
          background-color: $admin-color-gray-light !important

      .inside
        width: 100%
        .et_pb_section
          background-color: $admin-color-gray-light !important

          .et-pb-controls
            background-color: $admin-color-blue !important
          a
            &.et-pb-settings, &.et-pb-clone-section, &.et-pb-remove, &.et-pb-expand
              color: white !important
              opacity: 1 !important
            &.et-pb-section-add
              color: $admin-color-gray-dark !important

              .et-pb-section-add-fullwidth, .et-pb-section-add-specialty
                // display: none

        .et_pb_row
          a
            &.et-pb-settings, &.et-pb-clone-row, &.et-pb-remove, &.et-pb-expand, &.et-pb-change-structure
              color: white !important
              opacity: 1 !important

          background-color: white !important

          .et-pb-controls
            background-color: $admin-color-orange !important

        .et-pb-row-content
          .et-pb-column
            .et_pb_module_block
              background-color: $admin-color-gray-light !important
              color: $admin-color-gray-dark !important
              a
                color: $admin-color-gray-dark !important
                opacity: 1 !important

  #postbox-container-1

    #et_settings_meta_box


    #et_settings_meta_box, #submitdiv
      margin-bottom: 50px
      border: none
      +headlines
        color: $admin-color-blue

      label
        color: $admin-color-blue

      select,
        border: 1px solid $admin-color-blue
        color: $admin-color-blue
        height: 32px
        line-height: 32px


  table
    border: 0 !important
    margin-top: 50px !important

    thead

    tbody
      tr
        &:nth-child(odd)
          background-color: $admin-color-gray-light !important

        &.quick-edit-row
          td
            padding: 20px 0 20px 20px !important

            .submit
              float: left !important

          fieldset
            &.inline-edit-col-right
              clear: both
              margin: 0

        th
          padding-left: 10px

        td

          .inline-edit-legend
            color: $admin-color-blue !important

          input
            border: 1px solid white !important
            box-shadow: none !important

          .button-primary
            color: white !important
            background-color: $admin-color-blue !important
            border: 1px solid $admin-color-blue !important
            box-shadow: none !important
            text-shadow: none !important
            &:hover
              color: $admin-color-blue !important
              background-color: white !important

          .button
            &.cancel
              border: 1px solid $admin-color-blue
              box-shadow: none !important
              color: $admin-color-blue !important
              &:hover
                background-color: $admin-color-blue !important
                color: white !important

          select
            color: $admin-color-blue !important
            border: 1px solid $admin-color-blue !important
            line-height: 34px !important
            height: 34px !important


  .search-box
    input
      color: $admin-color-blue !important
      border: 1px solid $admin-color-blue !important
      line-height: 24px
      height: 24px

    .button
      color: $admin-color-blue !important
      border: 1px solid $admin-color-blue !important
      background-color: $admin-color-blue !important
      color: white !important
      line-height: 24px
      height: 24px
      &:hover
        color: $admin-color-blue !important
        background-color: white !important

  .tablenav
    select
      color: $admin-color-blue !important
      border: 1px solid $admin-color-blue !important
      line-height: 36px
      height: 36px

    .button
      color: $admin-color-blue !important
      border: 1px solid $admin-color-blue !important
      background-color: $admin-color-blue !important
      color: white !important
      line-height: 36px
      height: 36px
      box-shadow: none !important
      &:hover
        color: $admin-color-blue !important
        background-color: white !important

  .wp-heading-inline
    color: $admin-color-blue !important
    padding-right: 24px !important

  a
    color: $admin-color-blue !important
    &.page-title-action
      border: 1px solid $admin-color-blue !important
      background-color: white !important
      padding: 6px 16px !important
      &:hover
        color: white !important
        background-color: $admin-color-blue !important

  .wp-filter
    border: 1px solid white !important
    margin-bottom: 30px !important

    select, input
      color: $admin-color-blue !important
      border: 1px solid $admin-color-blue !important

    button
      color: $admin-color-blue !important
      border: 1px solid $admin-color-blue !important

  .thumbnail
    border: 1px solid $admin-color-blue-rgba-50 !important

  .screen-meta-toggle
    button
      color: $admin-color-blue !important
      border: 1px solid $admin-color-blue !important
      box-shadow: none !important
      box-shadow: 0 1px 0 #fff !important
      -webkit-box-shadow: 0 1px 0 #fff !important
      &:after
        color: $admin-color-blue !important

  .attachments-browser

    +headlines
      color: $admin-color-blue !important
    p
      color: $admin-color-gray-dark !important

    .uploader-inline
      border: 2px dashed $admin-color-gray-dark !important

    button
      &.browser
        background-color: $admin-color-blue !important
        color: white !important
        border: 1px solid $admin-color-blue !important
        box-shadow: none !important
        &:hover
          background-color: white !important
          color: $admin-color-blue !important

  form
    &.media-upload-form

      #drag-drop-area
        border: 2px dashed $admin-color-gray-dark

      .drag-drop-inside
        p
          color: $admin-color-gray-dark
          &.drag-drop-info
            color: $admin-color-blue

        input
          border: 1px solid $admin-color-blue
          background-color: $admin-color-blue
          color: white
          box-shadow: none
          height: 32px
          line-height: 32px
          &:hover
            background-color: white
            color: $admin-color-blue

    &#your-profile
      .submit
        input
          background-color: $admin-color-blue
          color: white
          border: 1px solid $admin-color-blue
          box-shadow: none
          text-shadow: none
          height: 34px
          line-height: 34px
          &:hover
            background-color: white
            color: $admin-color-blue


  .media-toolbar
    .media-button
      background-color: $admin-color-blue !important
      color: white !important
      box-shadow: none !important
      &:hover
        background-color: white !important
        color: $admin-color-blue !important

  .postbox
    border: 0
    box-shadow: none

/*button styling*/
.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large
  padding: 5px 25px 35px



.wp-core-ui .button, .wp-core-ui .button-secondary
  border-color: $admin-color-blue !important
  background: white !important
  box-shadow: none !important

.wp-core-ui .button-primary
  background: $admin-color-blue !important
  border: none !important
  border: 1px solid $admin-color-blue !important
  box-shadow: none !important
  color: #fff !important
  text-shadow: none !important
  &:hover
    background-color: white !important
    color: $admin-color-blue !important



.et_pb_toggle_builder_wrapper #et_pb_toggle_builder, #et_pb_fb_cta
  background-color: white !important
  border: 1px solid $admin-color-blue !important
  box-shadow: none
  margin-bottom: 20px !important

#major-publishing-actions
  background-color: $admin-color-gray-light

input[type=checkbox], input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=radio], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea
  border: 1px solid $admin-color-blue !important
  border-radius: 3px

.et_pb_prompt_modal h3
  background-color: white !important
  color: $admin-color-blue !important
  border-bottom: 1px solid $admin-color-blue

.et_pb_prompt_modal
  border: 1px solid $admin-color-blue

.et-core-modal-header
  background-color: white !important

.et-core-modal .et-core-modal-title
  color: $admin-color-blue !important

.et-core-tabs, .et-core-tabs.ui-widget-header
  background-color: white !important
  border: 1px solid $admin-color-blue

.et-core-tabs li.ui-state-active a, .et-core-tabs li a, .et-core-tabs li.ui-state-default a
  background-color: white !important
  color: $admin-color-blue !important
  &:hover
    background-color: $admin-color-blue !important
    color: white !important

#et-pb-histories-visualizer
  background-color: $admin-color-blue !important

.et_pb_layout_column
  background-color: #008bdb !important

.et-pb-column-layouts li, .et-pb-layout-buttons, .et-pb-all-modules li
  background-color: $admin-color-gray-light !important

.et-pb-saved-modules-tab, .et-pb-all-modules-tab, .et-pb-shortcuts-tab
  top: -21px !important

#collapse-button
  color: $admin-color-orange !important

.pum-tabs-container.vertical-tabs>ul.tabs>.tab.active a
  background-color: white !important
  border: 1px solid $admin-color-blue

.wp-ui-highlight
  background-color: $admin-color-blue !important

.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img
  box-shadow: none !important

#wpbody .screen-meta-toggle button
  border-radius: 3px !important

#contextual-help-link-wrap, #screen-options-link-wrap
  border: 0

#wpadminbar #wp-admin-bar-updates .ab-icon:before
  color: $admin-color-blue !important

.welcome-panel
  border: none
  box-shadow: none

.et-core-modal-close:before, .et_pb_prompt_dont_proceed:before
  color: $admin-color-blue !important

.et_pb_prompt_buttons a.et_pb_prompt_proceed, .et_pb_prompt_modal .et_pb_prompt_buttons input.et_pb_prompt_proceed, .et_pb_prompt_modal .et_pb_prompt_buttons button.et_pb_prompt_proceed_alternative
  background-color: $admin-color-blue !important
  border: 1px solid $admin-color-blue !important
  &:hover
    background-color: white !important
    color: $admin-color-blue !important

body #wpbody #et_pb_layout.postbox .inside .et_pb_section .et_pb_row .et-pb-row-content .et-pb-row-container .et-pb-column #et-builder-right-click-controls .options li a
  color: $admin-color-blue !important

#wpbody .thumbnail
  border: none !important

.wp-core-ui .attachment .thumbnail:after
  box-shadow: inset 0 0 0 1px rgba($admin-color-blue,.1) !important

.view-switch a.current:before
  color: $admin-color-blue !important

#wpbody .attachments-browser .uploader-inline, #wpbody form.media-upload-form #drag-drop-area
  border: 2px dashed $admin-color-blue-rgba-50 !important

.uploader-inline .close:before
  color: $admin-color-blue !important

#wpbody form.media-upload-form .drag-drop-inside input
  color: $admin-color-blue !important
  &:hover
    color: $admin-color-orange !important

.et-core-portability-import-placeholder
  height: 30px

#et_pb_layout .handlediv .toggle-indicator:before
  color: $admin-color-blue !important

.et-pb-app-settings-button object
  border: 2px solid $admin-color-blue
  border-radius: 5px
  width: 15px

.js .postbox .handlediv .toggle-indicator:before
  color: $admin-color-blue !important

.et-pb-section-add:before, .et-pb-row-add:before, .et-pb-insert-row:before, .et-pb-insert-column:before, .et-pb-insert-module:before, .et-pb-add-sortable-option:before
  color: $admin-color-blue !important

.et-pb-section-add:hover:before, .et-pb-section-add span:hover, .et-pb-row-add:hover, .et-pb-insert-row:hover, .et-pb-insert-column:hover, .et-pb-insert-module:hover
  color: $admin-color-orange !important

#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon
  &:hover
    color: $admin-color-orange !important

a#et_load_category_page:hover, .post-type-et_pb_layout .et-pb-portability-button:hover
  background-color: $admin-color-orange !important

#epanel .et_pb_yes_no_button.et_pb_on_state, .et_pb_yes_no_button.et_pb_on_state
  background-color: $admin-color-blue !important

#et_pb_save_roles
  background-color: white !important
  &:hover
    background-color: $admin-color-blue !important
    color: white !important

#wpbody table tbody tr.inactive
  background-color: rgba($admin-color-orange,.1) !important

body.upload-php.eml-grid #wpbody
  top: 70px !important

input.et-pb-upload-button, input.et-pb-gallery-button, .et-pb-option-container input.wp-picker-default, .et-pb-option-container .button, .et-pb-video-image-button
  background-color: $admin-color-blue !important
  &:hover
    background-color: $admin-color-blue !important
